<h1 mat-dialog-title>Add User Details</h1>
<div mat-dialog-content>
  <form>
    <input type="text" class="form-control" placeholder="User Name" id="name" #nameInput>
    <input type="date" class="form-control" placeholder="Birth Date" id="bdate" #bdateInput>
    <input type="text" class="form-control" placeholder="Address" id="address" #addressInput>
    <input type="text" class="form-control" placeholder="Gender" id="gender" #genderInput>
    <!-- <input type="text" class="form-control" placeholder="College" id="collage" #collegeInput (click)="onGetCollege()"> -->
    <select class="form-control" id="college" #collegeName>
      <option value="{{ college.name }}" *ngFor="let college of collegeList">
        {{ college.name }}
      </option>
    </select>
    <input type="text" class="form-control" placeholder="Hobbies" id="hobbies" #hobbiesInput>
    <button class="btn btn-success" type="submit" (click)="onAddUser()">Add Details</button>
  </form>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close style="float: right;">Close</button>
</div>